<div class="d-flex align-items-center justify-content-center py-3">
    <table>
        <thead>
            <th>Name</th>
            <th>MM/DD/YYYY</th>
            <th>MM/DD/YYYY</th>
            <th>MM/DD/YYYY</th>
            <th>MM/DD/YYYY</th>
            <th>MM/DD/YYYY</th>
            <th>MM/DD/YYYY</th>
            <th>MM/DD/YYYY</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of monthlyData;let i=index;">
                <ng-container *ngFor="let value of data;let j=index;">
                    <td *ngIf="j==0">{{value.name}}</td>
                    <td>{{value.amount}}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>