form {
    display: grid;
    grid-template-columns: auto 1fr;

    input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    label{
        margin-top: 5px;
        margin-bottom: 3px;
    }
}

.addButton{
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: -54px;
}