<div class="mt-2 px-3">
    <div class="mt-2">
        <form [formGroup]="form" class="row px-3 ">
            <div class="col-10 d-flex align-items-center justify-content-start">
                <label for="ltype"> Loan Type <span class="text-danger">*</span> </label>
                <select class="form-control w-25 ml-1" name="ltype" id="ltype" formControlName="loanType">
                    <option value="null" hidden>Select</option>
                    <option value="Daily">Daily</option>
                    <option value="weekly">weekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
                <label for="ltype" class="ml-1"> Select Date <span class="text-danger">*</span> </label>
                <input type="date" class="form-control w-25 ml-1" [max]="CurrentDate" name="date" id="date"
                    formControlName="date">
                <button type="button" [disabled]="form.pristine || form.invalid" class="btn h-75 btn-primary ml-1"
                    (click)="getPaymentList()">Generate List</button>
            </div>
            <div class="col-2">
                <label for="ltype" class="ml-1"> Today Credit:{{todayCredit}} </label>

            </div>
        </form>
    </div>
    <div class="px-3 mt-2" style="overflow-x: auto;">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="customerDataSource" class="mat-elevation-z2">
            <ng-container matColumnDef="SerialNumber">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">{{ row.SerialNumber }}</td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
            </ng-container>
            <ng-container matColumnDef="loanAmount">
                <th mat-header-cell *matHeaderCellDef>Loan Amount</th>
                <td mat-cell *matCellDef="let row">{{ row.loanAmount }}</td>
            </ng-container>
            <ng-container matColumnDef="totalPayable">
                <th mat-header-cell *matHeaderCellDef>Total Payable</th>
                <td mat-cell *matCellDef="let row">{{ row.totalPayable }}</td>
            </ng-container>
            <ng-container matColumnDef="totalPaid">
                <th mat-header-cell *matHeaderCellDef>Total Paid</th>
                <td mat-cell *matCellDef="let row">{{ row.totalPaid }}</td>
            </ng-container>
            <ng-container matColumnDef="balanceAmount">
                <th mat-header-cell *matHeaderCellDef>Balance</th>
                <td mat-cell *matCellDef="let row">{{ row.balanceAmount }}</td>
            </ng-container>
            <ng-container matColumnDef="paymentMode">
                <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
                <td mat-cell *matCellDef="let row">
                    <label class="switch">
                        <input type="checkbox" [checked]="row.paymentMode?.toLowerCase() === 'online'"
                            (click)="onPaymentModeChange(row, $event)">
                        <span class="slider round"></span>
                    </label>
                    <span class="ml-2">{{ row.paymentMode }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="payableAmount">
                <th mat-header-cell *matHeaderCellDef>Payable Amount</th>
                <td mat-cell *matCellDef="let row">
                    <input [disabled]="!row.editStatus" class="form-control" type="text" OnlyNumber [value]="row.amount"
                        (focusout)="onPayableAmountChange(row, $event)">
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="row.editStatus=!row.editStatus"><i class="fa fa-pencil"
                            aria-hidden="true"></i></button>
                    <button *ngIf="!row.paymentStatus" mat-raised-button color="accent" class="ml-2"
                        (click)="payAmount(row)">Pay</button>
                    <button *ngIf="row.paymentStatus" mat-raised-button class="ml-2"
                        (click)="payAmount(row)">Paid</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" pageSize="10" showFirstLastButtons></mat-paginator>
    </div>
</div>

<!-- 
<div>
    <div  class="d-flex align-items-center justify-content-center py-3">
        <form>
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
            <label for="date">Datefdsfds</label>
            <input type="date" id="date" name="date">
            <label for="date">Datedsfdf</label>
            <input type="date" id="date" name="date">
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
            <label for="date">Datesdfdfsd</label>
            <input type="date" id="date" name="date">
        </form>
    </div>
    <div  class="d-flex align-items-center justify-content-center py-3">
        <table>
            <thead>
                <th>Name</th>
                <th>MM/DD/YYYY</th>
                <th>MM/DD/YYYY</th>
                <th>MM/DD/YYYY</th>
                <th>MM/DD/YYYY</th>
                <th>MM/DD/YYYY</th>
                <th>MM/DD/YYYY</th>
                <th>MM/DD/YYYY</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of monthlyData;let i=index;">
                    <ng-container *ngFor="let value of data;let j=index;">
                        <td *ngIf="j==0">{{value.name}}</td>
                        <td>{{value.amount}}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->