
::ng-deep.dx-datagrid-headers {
    background-color: rgb(67, 150, 150) !important;
    font-size: 18px;
    font-weight: 500;
    color :white 
}

.addButton{
    position: absolute;
    z-index: 1;
    right: 13rem;
    margin-top: 15px;
}