::ng-deep.dx-datagrid-headers {
    /* background-color: rgb(67, 150, 150) !important; */
    font-size: 18px;
    font-weight: 500;
    color: slategray
}

.addButton {
    position: absolute;
    z-index: 1;
    right: 2rem;
    margin-top: 24px;
}