<div class="px-3">
    <div class="px-3 col-9 addButton d-flex align-items-center justify-content-end">
        <label for="ltype"> Loan Type <span class="text-danger">*</span> </label>
        <select class="form-control w-25 ml-2" [(ngModel)]="loanType" name="ltype" id="ltype" (change)="getallCustomerList()">
            <option value="null" hidden>Select</option>
            <option value="All">All</option>
            <option value="Daily">Daily</option>
            <option value="weekly">weekly</option>
            <option value="Monthly">Monthly</option>
        </select>
        <button type="button" class="btn btn-primary ml-2" (click)="openPopUp(addCustomer)">AddCustomer</button>
    </div>
    <div class="p-3" style="overflow-x: auto;">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyCustomerFilter($event)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="customerDataSource" class="mat-elevation-z2">
            <ng-container matColumnDef="SerialNumber">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">{{ row.SerialNumber }}</td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
            </ng-container>
            <ng-container matColumnDef="loanAmount">
                <th mat-header-cell *matHeaderCellDef>Loan Amount</th>
                <td mat-cell *matCellDef="let row">{{ row.loanAmount }}</td>
            </ng-container>
            <ng-container matColumnDef="loanType">
                <th mat-header-cell *matHeaderCellDef>Loan Type</th>
                <td mat-cell *matCellDef="let row">{{ row.loanType }}</td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Start Date</th>
                <td mat-cell *matCellDef="let row">{{ row.startDate }}</td>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef>End Date</th>
                <td mat-cell *matCellDef="let row">{{ row.endDate }}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="View" (click)="viewDetails(row)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button mat-icon-button matTooltip="Send SMS" (click)="sendSms(row)" class="text-danger"><i class="fa fa-comment" aria-hidden="true"></i></button>
                    <button mat-icon-button matTooltip="Edit" (click)="editFunction(row, addCustomer)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button mat-icon-button matTooltip="Delete" (click)="openDeleteAlert(row)" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="customerDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: customerDisplayedColumns;"></tr>
        </table>
        <mat-paginator #customerPaginator [pageSizeOptions]="[10, 25, 50, 100]" pageSize="10" showFirstLastButtons></mat-paginator>
    </div>
</div>

<ng-template #addCustomer>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Customer</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form action="" [formGroup]="addCustomerForm" (ngSubmit)="addCustomerFunction(addCustomerForm.value)">
        <div class="modal-body">
            <div class="p-3">
                <div class="row ">
                    <label for="fName"> First Name <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="firstName" id="fName"
                        (cut)="$event.preventDefault()" (copy)="$event.preventDefault()"
                        (paste)="$event.preventDefault()">
                    <span *ngIf="controls['firstName'].invalid && controls['firstName'].touched ">
                        <span *ngIf="controls['firstName'].hasError('required')" class="text-danger">Required</span>
                    </span>
                </div>
                <div class="row mt-2">
                    <label for="lName"> Last Name <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="lastName" id="lName">
                    <span *ngIf="controls['lastName'].invalid && controls['lastName'].touched ">
                        <span *ngIf="controls['lastName'].hasError('required')" class="text-danger">Required</span>
                    </span>
                </div>
                <div class="row mt-2">
                    <label for="lAmount"> Loan Amount <span class="text-danger">*</span> </label>
                    <input class="form-control" min="10000" max="1000000" OnlyNumber="true" type="text"
                        formControlName="loanAmount" id=lAmount>
                    <span *ngIf="controls['loanAmount'].invalid && controls['loanAmount'].touched ">
                        <span *ngIf="controls['loanAmount'].hasError('required')" class="text-danger">Required</span>
                    </span>
                </div>
                <div class="row mt-2">
                    <label for="ltype"> Loan Type <span class="text-danger">*</span> </label>
                    <select class="form-control" formControlName="loanType" name="ltype" id="ltype">
                        <option value="null" hidden>Select</option>
                        <option value="Daily">Daily</option>
                        <option value="weekly">weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <span *ngIf="controls['loanType'].invalid && controls['loanType'].touched ">
                        <span *ngIf="controls['loanType'].hasError('required')" class="text-danger">Required</span>
                    </span>
                </div>
                <div class="row mt-2">
                    <label for="gender"> Gender <span class="text-danger">*</span> </label>
                    <select class="form-control" formControlName="gender" name="gender" id="gender">
                        <option value="null" hidden>Select</option>
                        <option value="Male">Male</option>
                        <option value="FeMale">FeMale</option>
                    </select>
                    <span *ngIf="controls['gender'].invalid && controls['gender'].touched ">
                        <span *ngIf="controls['gender'].hasError('required')" class="text-danger">Required</span>
                    </span>
                </div>
                <div class="row mt-2">
                    <label for="mNumber"> Mobile Number <span class="text-danger">*</span></label>
                    <input class="form-control" OnlyNumber="true" minlength="10" maxlength="10" type="text"
                        formControlName="mobileNumber" id="mNumber">
                    <span *ngIf="controls['mobileNumber'].invalid && controls['mobileNumber'].touched">
                        <span *ngIf="controls['mobileNumber'].hasError('minlength')" class="text-danger">min 10 digit
                            required</span>
                        <span *ngIf="controls['mobileNumber'].hasError('required')" class="text-danger">required</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="submit"
                [disabled]="addCustomerForm.invalid || addCustomerForm.pristine">{{type}} Customer</button>
            <button class="btn btn-light" type="button" (click)="modalRef.hide()">Close</button>
        </div>
    </form>
</ng-template>
<ng-template #deleteConfirmationAlert>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Customer</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete {{selectedCustomer.firstName}} {{selectedCustomer.lastName}}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" type="submit" (click)="deleteCustomer(selectedCustomer)">Yes</button>
        <button class="btn btn-light" type="button" (click)="modalRef.hide()">No</button>
    </div>
</ng-template>
<ng-template #viewPaymentInfo>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Payment Information</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyPaymentFilter($event)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="paymentDataSource" class="mat-elevation-z2">
            <ng-container matColumnDef="SerialNumber">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">{{ row.SerialNumber }}</td>
            </ng-container>
            <ng-container matColumnDef="paymentId">
                <th mat-header-cell *matHeaderCellDef>Payment Id</th>
                <td mat-cell *matCellDef="let row">{{ row.paymentId }}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Paid Date</th>
                <td mat-cell *matCellDef="let row">{{ row.date }}</td>
            </ng-container>
            <ng-container matColumnDef="paymentMode">
                <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
                <td mat-cell *matCellDef="let row">{{ row.paymentMode }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="paymentDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: paymentDisplayedColumns;"></tr>
        </table>
        <mat-paginator #paymentPaginator [pageSizeOptions]="[10, 25, 50, 100]" pageSize="10" showFirstLastButtons></mat-paginator>
    </div>
    <div class="modal-footer">
        <button class="btn btn-light" type="button" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>