<div class="alert alert-info" style=" position:fixed;left: 0;bottom: 0;width: 100%; text-align: center;">
  <marquee behavior="" direction="" onMouseOver="this.stop()" onMouseOut="this.start()">  <h6 style="margin-bottom: 0rem !important;"> Desinged and developed by <span style="color: darkmagenta;">CHANDRAN</span> Information & Technology</h6></marquee>
</div>
<style>
  
element.style {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.alert-info {
    color: #0c5460;
    background-color: #9adbff;
    border-color: #bee5eb;
}
.alert {
    position: relative;
    padding:5px;
    margin-bottom: 0rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
</style>