/* You can add global styles to this file, and also import other style files */
.routerActive{
    padding: 0px 14px;
    background-color: #ff1cd1;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    background-color: gray;
}
::-webkit-scrollbar-track{
    border-radius: 0;
    background: #eeeeee;
}
